<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Grabadora de voz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="Grabar()"  fill="clear" shape="round">
    Grabar
  </ion-button>
  <ion-button expand="block" fill="clear" color="secondary" class="msg-btn" (click)="Detener()"  fill="clear" shape="round">
    Detener
  </ion-button>
  <!-- <ion-button (click)="Play()"  fill="clear" shape="round">
    Play
  </ion-button> -->
</ion-content>
