<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Grabar video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grabar video</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <!-- llamar a un método -->
    <ion-fab-button (click)="startRecording()">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
