<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MENSAJE 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MENSAJE 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->

  <!-- botón flotante -->
  <ion-fab vertical="center" horizontal="center" slot ="fixed">
    <!-- llamar a un método -->
    <ion-fab-button (click)="enviarMensaje()">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
