.msg-btn {
    margin: 50px;
    padding: 10px;
    width: 80%;
    display: flex;
    font-size: 100px;
    background-color: darkslategrey;
    font-size: 1.5em;
    border: solid;
    border-radius: 10px;
}