<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="getCurrentCoordinates()" expand="block">
      Obtener Ubicación
    </ion-button>
    <ion-list>
      <ion-list-header>
        Coordenadas de la Ubicación
      </ion-list-header>
      <ion-item>
        <ion-label>Latitud</ion-label>
        <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>Longitud</ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>

      <!-- <ion-button (click)="openGoogleMaps()">
        Ubicacion Google Maps
      </ion-button> -->

    </ion-list>
  </div>
</ion-content>